@if (cart.length) {
<h2>Your Shopping Cart</h2>
<ul class="list-group">
  @for (item of cart; track $index) {
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div>
      <strong>{{ item.product.title }}</strong> - ${{ item.product.price }} x {{ item.quantity }}
    </div>
    <div>
      <button class="btn btn-sm btn-primary" aria-label="Add Quantity" (click)="addToCart(item.product)">+</button> &nbsp;
      <button class="btn btn-sm btn-danger" (click)="removeFromCart(item.product)">-</button>
    </div>
  </li>
  }
  <div class="d-flex justify-content-between align-items-center">
    <h4>Total Price:</h4>
    <h4>${{ totalPrice }}</h4>
  </div>
</ul>
}
@if (cart.length === 0) {
<div class="alert alert-info">
  Your cart is empty.
</div>
}